---
layout: default
---


<ul class="post-list">
{% for category in site.categories %}
  <li>
    {% capture category_name %}{{ category | first }}{% endcapture %}

    {% for post in site.categories[category_name] %}
     {%- if page.title == post.category -%}
    <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-5 d-flex flex-column position-static">

            <h3 class="mb-0">{{ post.title | escape }}</h3>
            <div class="mb-1 text-muted">{{ post.date | date: date_format }}</div>
            <p class="card-text mb-auto">{{ post.description }}</p>
            <a href="{{ post.url | relative_url }}" class="stretched-link"></a>
          </div>
          <div class="col-md-5 img-thumbnail" style="background: url({{ site.url }}/{{ post.image }})">
          </div>
        </div>
      </div>
      {%- endif %}
    {% endfor %}
</li>
{% endfor %}
</ul>
