---
layout: default
---


<ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{% for category in site.categories %}
  <li>
    {% capture category_name %}{{ category | first }}{% endcapture %}

    {% for post in site.categories[category_name] %}
     {%- if page.title == post.category -%}
     <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <p class="mb-0">
            <a class="h3 text-warning">{{ post.title | escape }}</a>
            <a class="h6 text-muted">{{post.date | date: date_format}}</a>
          </p>
          <p class="card-text mb-auto"><small>{{ post.description }}</small></p>
          <a href="{{ post.url | relative_url }}" class="stretched-link"></a>
        </div>
        <img src="{{ site.url }}/{{ post.image }}" class="card-img-bottom">
      </div>
      {%- endif %}
    {% endfor %}
</li>
{% endfor %}
</ul>
