---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    <!-- {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%} -->
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>

        <div class="card border-success  mb-3" style="max-width: 720px;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="{{ site.url }}/{{ post.image }}" class="img-fluid rounded-start">
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">{{ post.title | escape }}</h5>
                <p class="card-text"><small class="text-muted">{{ post.date | date: date_format }}</small></p>
                <p class="card-text">{{ post.description }}</p>
                <a href="{{ post.url | relative_url }}" class="card-link">Прочитать</a>
              </div>
            </div>
          </div>
        </div>

        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}

      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>